.footer {
  padding: 80px 20px;
  background-color: var(--light-pink-red);
  align-items: center;
}
.footer__group {
  display: flex;
  justify-content: space-between;
}

.footer__title--group {
  margin: 0 16 60 0px;
}
.footer__social {
  display: flex;
  justify-content: flex-end;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
}

.footer__social-list :not(:last-child) {
  margin-right: 30px;
}
.icon {
  fill: var(--line-cl);
}
.icon:focus,
.icon:hover {
  fill: var(--accent-cl-txt);
}

.footer__tell-group {
  display: flex;
  margin-top: 40px;
}
.footer__copyright {
  justify-content: center;
}
/* @media screen and (min-width: 768px) {
  .footer-items {
    display: flex;
    gap: 30px 165px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-items {
    gap: 70px;
    align-items: baseline;
  }

  .footer__social-list {
    flex-wrap: nowrap;
  } */

.footer__title-group {
  justify-content: baseline;
}

.footer__title {
  font-family: var(--secondori-txt);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--uppertitle-cl);
}
.footer__title_texst {
  padding-top: 16px;
  font-family: var(--secondori-txt);
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--accent-cl-txt);
}
.footer__tell-text {
  font-family: var(--main-txt);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;

  letter-spacing: 0.02em;

  color: var(--black-txt);
}
.footer__tell {
  font-family: var(--main-txt);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  /* identical to box height, or 30px */

  letter-spacing: 0.02em;

  text-align: right;

  color: var(--accent-cl-txt);
}
.footer__copyright {
  padding-top: 60px;
  text-align: center;
}

.copyright {
  font-family: var(--main-txt);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  /* or 21px */

  text-align: center;
  border-top: 1px solid var(--line-cl);

  color: var(--grey-txt);
}
