.header__box {
  position: absolute;
  z-index: 10;

  width: 100%;
  padding-top: 8px;
  padding-bottom: 20px;

  background-color: transparent;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 35px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 37px;
    padding-bottom: 20px;
  }
}

.header {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.container__no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.logo {
  display: block;
  width: 199px;
  height: 50px;
}

.nav-desktop {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-left: 128px;
  }
}

.nav-desktop__list {
  display: flex;
  gap: 35px;
  justify-content: center;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition: opacity var(--anim), visibility var(--anim);

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    & .header__menu {
        transform: translate(-50%, -50%) scale(0.9);
    }

    
}


.header__menu {
    position: absolute;
    top: 50%;
    left: 39%;

    width: 250px;
    height: 100vh;

    display: block;
    padding-top: 60px;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    background-color: #e17992;

    transform: translate(-50%, -50%) scale(1.0);
    transition: transform var(--anim);

    @media screen and (min-width:480px) {
        left: 26%;

    }

    @media screen and (min-width:768px) {
        width: 254px;
        left: 16%;

    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.nav__item {
  border-top: 1px solid #e18298;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;

  &--red {
    color: var(--accent-cl-txt);
  }
}

.nav__item:last-child {
  border-bottom: 1px solid #e18298;
}

.nav__link {
  display: block;
  font-family: var(--main-txt);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.19;

  color: var(--white-txt);


  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
  }

  transition: color 250ms var(--timing-variable);

  &:hover,
  &:focus {
    cursor: pointer;
    color: var(--accent-cl-txt);
  }

  &--red {
    color: var(--accent-cl-txt);
  }
  
}

// мобільне меню

.mobile-menu__btn {
  margin-left: auto;
  z-index: 100;

  background-color: transparent;

  border: none;

  align-items: center;
  justify-content: center;

  cursor: pointer;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu__burger {
  stroke: var(--accent-cl-txt);
  opacity: 1;

  transition: 500ms;

  .mobile-menu__btn.is-open & {
    opacity: 0;
  }
}


 .mobile-menu__close {
     position: absolute;
     top: 20px;
     right: 20px;

     align-items: center;
     justify-content: center;
    background-color: #0000;
    border: none;

    stroke: var(--white-txt);
     cursor: pointer;

    @media screen and (min-width: 768px) {
        right: 32px;
    }

 }

.btn--tablet {
  display: none;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 32px;
    position: relative;
    padding-right: 53px;
    padding-left: 37px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    fill: inherit;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.btn__modal {
  position: relative;
}

.btn__icon--modal {
  display: block;
  position: absolute;
  top: 19px;
  right: 49px;

  margin-left: 16px;
}

.btn--mobile {
  margin-left: 20px;
  margin-bottom: 32px;
}

.btn__icon--tablet {
  display: block;
  position: absolute;
  top: 21px;
  right: 37px;

  margin-left: 12px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn__icon--mobile {
    right: 19px;
    margin-left: 8px;
  }
}

.btn__icon--red {
  stroke: var(--accent-cl-txt);
}
